<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <title>Layout fluído</title>
  </head>
  <body>
    <form class="form">
      <input type="text" class="input-nome" placeholder="Seu nome" />
      <input type="email" name="email" class="input-email" placeholder="Seu e-mail" />
      <button type="submit" class="btn">Enviar</button>
    </form>
  </body>
</html>
