* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  border: 1px solid #535252;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

input {
  background-color: #343232;
  color: #fff;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  flex: 1 0 130px;
}

button {
  background: #2f74ea;
  padding: 0.5rem 1.5rem;
  border: none;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  flex: 1 0 40px;
}
